@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --bg:#0A0A0F;
    --card:#141428;
    --accent1:#6A0DAD;
    --text:#EAEAEA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color:var(--text);
}

#about{
    padding: 20px 20px;
    height: 100px;
    width: 650px;
    position: relative;
    top: 20px;
    left: 450px;
    border: 1px solid var(--accent1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

#about>ul{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
}

#about>ul>li>a{
    text-decoration: none;
    color: var(--text);
}


#image{
    height: 550px;
    width: 650px;
    border: 1px solid var(--accent1);
    border-radius: 20px;
    position: relative;
    top: 40px;
    left: 450px;
}

#image>img{
    height: 220px;
    width: 500px;
    position: relative;
    left: 75px;
    top: 20px;
    border: 1px solid var(--accent1);
    box-shadow: 2px 2px 4px 4px var(--accent1);
}

#image>.text{
    padding: 20px 20px;
    position: relative;
    left: 75px;
    top: 30px;
    width: 500px;
    height: 200px;
}

#port{
    font-variant: small-caps;
    letter-spacing: 20px; 
    text-align: center;
    position: relative;
    left: 10px;
}

h3{
    position: relative;
    top: 20px;
    font-variant: small-caps;
    text-align: center;
}

#image>#seek{
    padding: 30px;
    font-variant: small-caps;
    font-size: 26px;
    text-align: left;
    position: relative;
    bottom: 60px;
    text-align: center;
}

#next{
    height: 40px;
    width: 100px;
    background-color: var(--bg);
    border: 1px solid var(--accent1);
    position: relative;
    top:50px;
    left: 1300px;
    border-radius: 10px;
}

#n{
position: relative;
left:29px;
top:8px;
color: var(--text);
text-decoration: none;
font-size: 20px;
font-variant:small-caps;
}

#next:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
    background-color: var(--accent1);
}

/*-----------------------------------about html styling---------------------*/

#aboutme{
    height: 550px;
    width: 650px;
    border: 1px solid var(--accent1);
    border-radius: 20px;
    position: relative;
    top: 40px;
    left: 450px;
}

#imgabt>#ai{
    height: 300px;
    width: 650px;
    position: relative;
    top: 20px;
    left: 450px;
    border: 1px solid var(--accent1);
    border-radius: 20px;
}

#aboutme{
    height: 300px;
    position: relative;
    top: 60px;
}

#aboutme>.section-title{
       text-align: left;
       padding: 20px 20px;
}

#aboutme>.div-title{
    padding: 20px 20px;
    font-variant: small-caps;
}

#aboutme>.detail{
    padding: 20px 20px;
    text-align: left;
    font-variant: small-caps;
    font-size: 20px;
    position: relative;
    top: 5px;
}

#education{
    height: 550px;
    width: 650px;
    position: relative;
    top: 100px;
    left: 450px;
    border: 1px solid var(--accent1);
    border-radius: 20px;
}

#education>.education-title{
    font-variant: small-caps;
    padding: 20px 20px;
}

#education>.education-grid{
    padding: 20px;
    height: 230px;
    width: 550px;
    font-size: 20px;
    position: relative;
    left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content:center ;
    align-items: center;
}

#education>.education-grid>.education-card{
    padding: 20px 20px;
    height: 110px;
    width: 500px;
    border: 1px solid var(--accent1);
    position: relative;
    top: 20px;
    border-radius: 20px;
}

#skills{
    height: 550px;
    width: 650px;
    position: relative;
    top: 140px;
    left: 450px;
    border: 1px solid var(--accent1);
    border-radius: 20px;    
}

#skills>.section-title{
    font-variant: small-caps;
    padding: 20px 20px;
}

#skills>.skill-grid{
    padding: 20px;
    height: 230px;
    width: 550px;
    font-size: 20px;
    position: relative;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items:center ;
}

#skills>.skill-grid>.skill-card{
    padding: 20px 20px;
    height: 60px;
    width: 140px;
    border: 1px solid var(--accent1);
    border-radius: 20px;  
    text-align: center;  
    justify-content: center;
    align-items: center;
}

#contacts{
    height: 230px;
    width: 650px;
    border: 1px solid var(--accent1);
    position: relative;
    top: 180px;
    left: 450px;
    border-radius: 20px;
}

#contacts>.contact-section{
    font-variant: small-caps;
    padding: 20px 20px;
    text-align: center;
}

#contacts>.contacts-grid{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-items: center;
}

#contacts>.contacts-grid>.contact-card{
    height: 50px;
    width: 100%;
    max-width: 350px;
    border: 1px solid var(--accent1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#contacts>.contacts-grid>.contact-card>a{
    text-decoration: none;
    color: var(--text);
}

#imgabt>img:hover{
    box-shadow: 3px 4px 15px var(--accent1);
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}

#aboutme:hover{
    box-shadow: 3px 4px 15px var(--accent1);
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}

#education:hover{
    box-shadow: 3px 4px 15px var(--accent1);
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}

#skills:hover{
    box-shadow: 3px 4px 15px var(--accent1);
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}

#skills>.skill-grid>.skill-card:hover{
    box-shadow: 0px 0px 10px 10px var(--accent1);
    transform: scale(1.01,1.01);
    transition-duration: 0.5s;
}

#contacts:hover{
    box-shadow: 3px 4px 15px var(--accent1);
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;  
}

#contacts>.contacts-grid>.contact-card:hover{
    box-shadow: 0px 0px 10px 10px var(--accent1);
    transform: scale(1.01,1.01);
    transition-duration: 0.5s;
}

#next1{
    height: 40px;
    width: 100px;
    background-color: var(--bg);
    border: 1px solid var(--accent1);
    position: relative;
    top:165px;
    left: 1300px;
    border-radius: 10px;
}

#previous{
    height: 40px;
    width: 135px;
    background-color: var(--bg);
    border: 1px solid var(--accent1);
    position: relative;
    top:200px;
    left: 100px;
    border-radius: 10px;
}

#next1:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
    background-color: var(--accent1);
}

#previous:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
    background-color: var(--accent1);
}

/*-------------------Project.html styling----------------------*/

.ai1{
    height: 300px;
    width: 550px;
    position: relative;
    top: 40px;
    left: 50px;
    /* border: 1px solid var(--accent1); */
    border-radius: 20px;
}

#prj1{
    height: 1900px;
    width: 850px;
    position: relative;
    top: 30px;
    left: 350px;
    border: 1px solid var(--accent1);
    border-radius: 20px;
}

.cont1{
    height: 850px;
    width: 650px;
    position: relative;
    top: 50px;
    left: 100px;
    border-radius: 20px; 
    background-color: var(--card);
}

#prj1>.section-title{
    font-variant: small-caps;
    padding: 20px 20px;
}

#prj1>.project-grid{
    padding: 20px;
    height: 230px;
    width: 550px;
    font-size: 20px;
    position: relative;
    left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content:center ;
    align-items: center;
    border: 1px solid var(--accent1);
    border-radius: 20px;
}

#prj1>.cont1>.project-grid>.project-card{
    padding: 20px 20px;
    font-size: 20px;
}

#prj1>.cont1>.project-grid>.project-card>.hd1{
    padding: 20px 20px;
    font-size: 20px;
}
#prj1>.cont1>.project-grid>.project-card>.p1{
    padding: 40px 20px;
    font-size: 20px;
}
#prj1>.cont1>.project-grid>.project-card>.l1{
    padding: 20px 20px;
    font-size: 20px;
    text-align: left;
    gap: 10px;
    background-color: var(--card);
}
#space{
    position: relative;
    top:100px
}
#previous1{
    height: 40px;
    width: 135px;
    background-color: var(--bg);
    border: 1px solid var(--accent1);
    position: relative;
    top:90px;
    left: 100px;
    border-radius: 10px;
}

.button{
    height: 30px;
    width: 120px;
    border: 1px solid var(--accent1);
    background-color: var(--accent1);
    border-radius: 5px;
    position: relative;
    left: 250px;
}
.button>.a3{
    text-decoration: none;
    position: relative;
    left: 10px;
    top:3px;
}
.button>.a3:link{
    text-decoration: none;
    color: var(--text);
}

#previous1:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
    background-color: var(--accent1);
}

.cont1:hover{
    box-shadow: 0px 0px 10px 10px var(--accent1);
    transform: scale(1.02,1.02);
    transition-duration: 0.8s;
}

.button:hover{
    box-shadow: 0px 0px 10px 10px var(--bg);
    transform: scale(1.02,1.02);
    transition-duration: 0.8s;
}

/* ================= Responsive ================= */
@media screen and (max-width:768px){

    #about,
    #image,
    #aboutme,
    #education,
    #skills,
    #contacts,
    #prj1{
        width:95%;
        left:2.5%;
        height:auto;
    }

    #imgabt>#ai,
    #image>img,
    .ai1{
        width:100%;
        height:auto;
        left:0;
        top:0;
    }

    #image>.text,
    #education>.education-grid,
    #skills>.skill-grid,
    #prj1>.project-grid,
    .cont1{
        width:100%;
        left:0;
    }

    #education>.education-grid>.education-card{
        width:100%;
        height:auto;
    }

    #skills>.skill-grid{
        grid-template-columns:repeat(2,1fr);
    }

    #contacts>.contacts-grid{
        grid-template-columns:1fr;
    }

    .cont1{
        height:auto;
    }

    #about{
        flex-direction:column;
        height:auto;
        gap:15px;
        padding:20px;
    }

    #about>ul{
        flex-direction:column;
        gap:10px;
        margin-right:0;
    }

    #next,
    #next1,
    #previous,
    #previous1{
        position:static;
        margin:20px auto;
        display:block;
    }

    .button{
        left:0;
        margin:20px auto;
        display:block;
    }

    #port{
        letter-spacing:8px;
    }

    h3,
    #image>#seek{
        font-size:20px;
    }
}