@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --bg:#0A0A0F;
    --card:#141428;
    --accent1:#6A0DAD;
    --text:#EAEAEA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color:var(--text);
}

#about{
    padding: 20px 20px;
    height: 100px;
    width: 650px;
    position: relative;
    top: 20px;
    left: 450px;
    border: 1px solid var(--accent1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

#about>ul{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
}

#about>ul>li>a{
    text-decoration: none;
    color: var(--text);
}


#image{
    height: 550px;
    width: 650px;
    border: 1px solid var(--accent1);
    border-radius: 20px;
    position: relative;
    top: 40px;
    left: 450px;
}

#image>img{
    height: 220px;
    width: 500px;
    position: relative;
    left: 75px;
    top: 20px;
    border: 1px solid var(--accent1);
    box-shadow: 2px 2px 4px 4px var(--accent1);
}

#image>.text{
    padding: 20px 20px;
    position: relative;
    left: 75px;
    top: 30px;
    width: 500px;
    height: 200px;
}

h2{
    font-variant: small-caps;
    letter-spacing: 20px; 
    text-align: center;
    position: relative;
    left: 10px;
}

h3{
    position: relative;
    top: 20px;
    font-variant: small-caps;
    text-align: center;
}

p{
    padding: 30px;
    font-variant: small-caps;
    font-size: 26px;
    text-align: left;
    position: relative;
    bottom: 60px;
    text-align: center;
}

#next{
    height: 40px;
    width: 100px;
    background-color: var(--bg);
    border: 1px solid var(--accent1);
    position: relative;
    top:50px;
    left: 1300px;
    border-radius: 10px;
}

#n{
position: relative;
left:29px;
top:8px;
color: var(--text);
text-decoration: none;
font-size: 20px;
font-variant:small-caps;
}

#next:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.5s;
    background-color: var(--accent1);
}